/* styles/contact.module.css */

.pagecontact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 75vh;
  border: 3px solid aquamarine;
}

.imgformcontact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .titlecontact {
  position: absolute;
  color: aquamarine;
} */
.tablettecontact {
  position: relative;
  transform: rotate(180deg);
  width: 700px;
  height: auto;
}
.bg-tablette {
  position: absolute;
  filter: grayscale(80%);
  opacity: 0.1;
}

.robot9 {
  position: absolute;
  bottom: 70px;
  right: 24px;
  max-width: 140px;
  height: auto;
  filter: drop-shadow(2px 2px 1px #333333) brightness(0.8);
}

.formulaireContact,
.contactForm {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 380px;
  margin-top: 20px;
}
.labelFormContact {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
.name,
.email {
  display: flex;
  width: 70%;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: aquamarine;
  background-color:#999999;
  padding: 0 10px;
  border-radius: 5px;
  
}
#name::placeholder,
#email::placeholder {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: aquamarine;
  opacity: 0.5;
}

.requiredIndicator {
  font-size: 24px;
  color: #122c5e;
  font-weight: bold;
}

.asterisqueSpecifie {
  position: absolute;
  top: -20px;
  right: -20px;
   font-size: 16px;
  font-weight: bold;
}

.specifieIndicator {
font-size: 20px;
vertical-align: middle;
 color: #122c5e;
}


.blockTextarea {
  width: 100%;
  height: 45%;
}
.message {
  width: 92%;
  font-size: 16px;
  font-weight: bold;
  color: aquamarine;
  background-color: #999999;
  padding: 5px 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  overflow-y: auto;
  resize: none;
}
.message::-webkit-scrollbar-track {
   border: none;
}
.message::-webkit-scrollbar-thumb,
.message::-webkit-scrollbar-track {
  border-radius: 3px;

}

#message::placeholder {
  font-size: 16px;
  font-weight: normal;
  color: aquamarine;
  opacity: 0.5;
  letter-spacing: -1px;
}
.maxChars {
  font-size: 16px;
  color: #333333;
}
.errorMessage {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin-left: 10px;
}
.btncontainercontact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.btncontact {
  font-size: 15px;
  color: aquamarine;
  background-color: #2c75ff;
  box-shadow: 1px 1px 3px #333333, inset 1px 1px 3px aquamarine;
 border: 1px solid #666666;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.btncontact:hover {
  box-shadow: inset 1px 1px 3px #666666;
  text-shadow:  2px 2px 3px #333333;
}

.containerConfirmModal { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modalConfirmContact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 7px;
}

.logoName {
  position: absolute;
  top: 10px;
  width: 200px;
  height: auto;
  z-index: 5000;
}

.closeConfirmContact {
  position: absolute;
  text-decoration: none;
  font-size: 18px;
  top: 15px;
  right: 15px;
  font-weight: bold;
  color: yellowgreen;
  border: 1px solid yellowgreen;
  border-radius: 25px;
  padding: 3px 7px;
  text-shadow: 1px 1px 3px #333333;
}

.closeConfirmContact:hover {
color: #2c75ff;
border: 1px solid #2c75ff;
}

.textConfirmContact {
  font-size: 26px;
  text-align: center;
  color: aquamarine;
  margin-top: 20px;
  text-shadow: 1px 0px 3px #333333;
}



.ok {
  position: absolute;
  font-size: 360px;
  opacity: 0.5;
z-index: 10000;
}