/* styles/incrementation.module.css */

.pageincrement {
    position: relative;
    width: 100%;
    min-height: 70vh;
    border: 3px solid aquamarine;
  }
  
  .titleincrement { 
    position: absolute;
     width: 100%;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
  }
  
  .robot3 {
    position: absolute;
    right: 0;
    bottom: -34px;
    width: 350px;
    height: auto;
    filter: drop-shadow(5px 5px 4px #333333) saturate(20%);
    z-index: 1090;
  }
  .blockincrement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 450px;
    margin: 0 auto;
  }
  .numberlike {
    font-size: 48px;
    font-weight: bold;
    color: brown;
  }
  .blockbtn {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .btnlike {
    font-size: 16px;
    font-weight: bold;
    color: aquamarine;
   padding: 10px;
    background-color: #2c75ff;
    border: 1px solid #666666;
    box-shadow: 1px 1px 3px #333333, inset 1px 1px 3px aquamarine;
    
    border-radius: 10px;
    cursor: pointer;
  }
  .btnlike:hover {
    box-shadow: inset 1px 2px 2px #666666;
    text-shadow:  1px 1px 3px #333333;
  }
  .mercilike {
    position: absolute;
    right: 50%;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    transform: translateX(50%);
    opacity: 0;
    transition: opacity 0.8s ease;
  }
  .mercilike.show {
    opacity: 1;
  }
  .btnlike:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .ok {
    position: absolute;
    top: 10%;
    left: 350px;
    font-size: 360px;
    opacity: 0.5;
  z-index: 10000;
  }