/* styles/searchbar.module */

.pagesearchbar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 70vh;
  }
  .containerrobot8 {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
  }
  .robot8 {
    max-width: 250px;
    min-width: 150px;
    height: auto;
    filter: drop-shadow(2px 2px 1px #333333);
  }
  form {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: auto;
    z-index: 1;
  }
  .suggestions {
    margin-top: 10px;
    width: 335px;
    height: auto;
    background-color: #fff;
    list-style-type: none;
    border: 1px solid;
    border-radius: 7px;
    padding: 8px;
  }
  .suggestion-active {
    width: auto;
    height: auto;
    margin-top: 5px;
    padding: 5px;
    list-style-type: none;
    font-weight: bold;
    background-color: #d17c26;
    border-radius: 0 7px 7px 0;
  }
  .autocomplete {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    font-weight: bold;
  }
  .no-suggestions {
    font-size: 17px;
    font-weight: 600;
    color: yellowgreen;
  }
  .searchbar {
    position: relative;
    display: flex;
    align-items: center;
  }
  input {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 30px;
    padding: 0 0 0 10px;
    border-radius: 7px;
    border: 1px solid #d07e26;
  }
  .loupesearch {
    position: absolute;
    right: 5px;
    width: 20px;
    height: auto;
  }
  .btnsearch {
    width: 100px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #333333;
    color: aquamarine;
    border-radius: 7px;
    cursor: pointer;
  }
  .olsearch {
    position: relative;
    font-size: 16px;
    color: aquamarine;
    font-weight: bold;
    padding: 20px;
    border: 2px solid #d07e26;
    border-radius: 7px;
    z-index: 1;
  }
  .olsearch:empty {
    display: none;
  }
  .lisearch {
    margin-left: 25px;
  }
  .linksearch {
    text-decoration: none;
  }
  .resultsearch {
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-left: 10px;
  }